body{
	margin: 0;
	padding: 0;
}
#mainForm{
	text-align: center;
    background: beige;
    color: brown;
    max-width: 100%;
    max-height: 100%;
    /* margin: 49px; */
    padding-left: 22%;
    padding-top: 104px;
}

#error{
	margin: 0;
    /* padding: 10px; */
    text-align: center;
    box-sizing: border-box;
    color: white;
    background: #F44336;
    max-width: 50%;
    font-size: 24px;
    margin-bottom: 50px;
}